.products-container {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
<<<<<<< HEAD
=======
    gap:30px;
>>>>>>> 83525717defd75f990f90c67a692c426772c2664
}